   <div class="container margin-top"> 
    <table class="table  ">
            <thead>
                    <td></td>
                <td>Name</td>
                <td>Price</td>
                <td>Amount</td>
                <td>Total</td>
                <td>Options</td>
            </thead>
            <tbody>
                <tr *ngFor="let itm of cart; index as i">
                    <td>
                        <img [src]="itm.itemPhoto" class="thumbnail">
                    </td>
                                   
                    <td>{{itm.name}}</td>
                    <td>{{itm.currentPrice | currency}}</td>
                    <td>
                        <input class="form-control" type="number" placeholder="Amount (Unt)" [(ngModel)]="itm.amount">
                    </td>
                    <td>{{(itm.currentPrice * itm.amount) | currency}}</td>
                    <td>
                        <button class="btn btn-primary"(click)="saveInCart(i)"> Save </button>
                        <button class="btn btn-danger" (click)="deleteFromCart(i)"> Delete</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>
                   
                    </th>
                </tr>
            </tfoot>
        </table>
        <button 
        (click)="clearCart()" 
        class="btn btn-danger btn-sm">Clear Cart</button>
    </div>    
